<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Cade Bank</title>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous">
			
		<!-- Using JavaScript to make calendars work, and disabled incorrect categories for either incomes or expenses. -->
		        <script>
            $( function() {
                $( "#datepicker" ).datepicker({ maxDate: 0 });
                $( "#datepickerstart" ).datepicker();
                $( "#datepickerend" ).datepicker();
            });
            
            function addHelp() {
                alert("Need help adding an Income or Expense?\n1. Select whether it's income or expense.\n2. Enter the amount.\n3. Pick a category.\n4. Select a date.\n5. Click Confirm.");
            }

            function searchHelp() {
                alert("Need help searching?\n1. Type in the category you would like to search for.\n2. Select a range of dates.\n3. Click Search.\n4. Select whether you would like to search for everything, just incomes, or just expenses.\n5 View the table!");
            }

            function tableHelp() {
                alert("Need help understanding, editing, and deleting each part of the table?\n1. The leftmost column displays the date that the income or expense was put in as.\n2. The middle column displays the amount of money that the income or expense held.\n3. The rightmost column dispays the category that the income or expense was selected as.\n4. To the right of the category column, there is a small pencil to edit each transaction. Click the pencil, and the traction will fill out the table above with the same details that were there when you put it in. Edit whatever you desire, press edit, and the transaction will be changed in the list.\n5 To the right of the pencil, there is a small trash can to delete each transaction. Click the pencil, and the transaction that goes along with the can will be deleted.");
            }
        
            $(document).ready(function() {
                $('input:radio[name=income]').change(function() {
                    $("#category").prop("selectedIndex", 0);
                    document.querySelectorAll("#category option").forEach(opt => {
                        if (opt.value != "" && opt.value != "separator") {
                            opt.disabled = !opt.disabled;
                        }
                    });
                });
            });
        </script>
		
		<!-- Using CSS style sheets to organize and make the website look nice -->
		<style>
			.header {
				text-align: center;
			}
			
			.row {
				display: flex;
				margin: 10px;
			}
			
			.columnleft {
				flex: 50%;
				font-size: larger;
			}
			
			.columnright {
				flex: 50%;
			}
			
			.dropdown {
				width: 193px;
			}
			
			input[type=radio] {
				margin-left: 15px;
			}
		</style>
	</head>
	
	<body class="body">
		<div class="header">
			<h1>
				<a href="/" style="text-decoration: none; color: black;"> Welcome to the Cade Bank </a>
			</h1>
			<h2>
				<!-- Retrieving and showing total balance by adding incomes and expenses together -->
				Current Balance: <strong><span th:text="${#numbers.formatCurrency(money)}" /></strong>
			</h2>
		</div>
		
		<div class="row">
			<div class="columnleft">
				<!-- The main table to add either a new income or expense. Includes a radio button to pick either an income or expense, a text box to put in the amount,
				 a category drop down with nine total options, and a date selector. Submit button to submit. Edit and cancel buttons while editing. -->
				<h3> Enter a new Income or Expense? </h3>
				<div style="margin-left: 180px">
                    <button onclick="addHelp()"> Help Me! </button>
                </div>
				<form action="#" th:action="@{/add}" th:object="${income}" method="post">
					<table border="2">
						<tr>
							<td colspan="2">
								<input id="incomeradio" type="radio" th:field="*{income}" value="true">
								<label for="incomeradio">Income</label>
								<input id="expenseradio" type="radio" th:field="*{income}" value="false">
								<label for="expenseradio">Expense</label>
								<input type="hidden" th:field="*{id}" />
							</td>
						</tr>
						<tr>
							<th width="200"><label th:text="Amount" /></th>
							<td width="200"><input type="number" th:field="*{amount}" step=".01" min="0.01" required /></td>
						</tr>
						<tr>
							<th><label th:text="Category" /></th>
							<td>
								<select id="category" th:field="*{category}" required class="dropdown">
									<option disabled value="">Please Select One</option>
									<option th:disabled="*{!income}" th:value="'Allowance'" th:text="Allowance"></option>
									<option th:disabled="*{!income}" th:value="'Work'" th:text="Work"></option>
									<option th:disabled="*{!income}" th:value="'Other Income'" th:text="Other"></option>
									<option disabled value="separator">---</option>
									<option th:disabled="*{income}" th:value="'Education'" th:text="Education"></option>
									<option th:disabled="*{income}" th:value="'Fees'" th:text="Fees"></option>
									<option th:disabled="*{income}" th:value="'Food'" th:text="Food"></option>
									<option th:disabled="*{income}" th:value="'Groceries'" th:text="Groceries"></option>
									<option th:disabled="*{income}" th:value="'Travel'" th:text="Travel"></option>
									<option th:disabled="*{income}" th:value="'Other Expense'" th:text="Other"></option>
								</select>
							</td>
						</tr>
						<tr>
							<th><label th:text="Date" /></th>
							<td><input type="text" th:field="*{date}" id="datepicker" readonly="true" required /></td>
						</tr>
						<tr>
							<td><input type="submit" th:name="${edit ? 'edit' : 'add' }" th:value="${edit ? 'Edit' : 'Confirm'}" /></td>
							<td th:if="${edit}"><input type="submit" name="cancel" value="Cancel" /></td>
						</tr>
					</table>
				</form>
				<br>
				
				<!-- Search Bar. Checking if an ID's category contains the same character's as the search bar. -->
				<h4> Search </h4>
                <div style="margin-left: 85px">
                    <button onclick="searchHelp()"> Help Me! </button>
                </div>
				<form action="#" th:action="@{/search}" th:object="${search}" method="post">
					<input type="text" th:field="*{text}" th:value="${search.text}" placeholder="Search" /> 
					<br> 
					<br> 
					<!-- Clear search button, when clicked set value to blank -->
					<input type="text" th:field="*{start}" id="datepickerstart" readonly="true" placeholder="Start" /> 
					<i class="fa fa-eraser" onclick="document.getElementById('datepickerstart').value = ''"></i>
					to
					<input type="text" th:field="*{end}" id="datepickerend" readonly="true" placeholder="End" />
					<i class="fa fa-eraser" onclick="document.getElementById('datepickerend').value = ''"></i>
					<br> 
					<br> 
					<input type="submit" value="Search" />
				</form>
				<br>
				
				<h4> Past Incomes and Expenses </h4>
				<br>
				
				<!-- Filter settings; if button pressed, only show ID's matching the value.  -->
				<form action="#" th:action="@{/filter}" method="post">
					<button type="submit" name="all" value="all"
						th:disabled="${filter == T(org.fbla.caden.model.Filter).ALL}">All</button>
					<button type="submit" name="income" value="income"
						th:disabled="${filter == T(org.fbla.caden.model.Filter).INCOME}">Income</button>
					<button type="submit" name="expense" value="expense"
						th:disabled="${filter == T(org.fbla.caden.model.Filter).EXPENSE}">Expense</button>
				</form>
				<br>
                <div style="margin-left: 115px">
                    <button onclick="tableHelp()"> Help Me! </button>
                </div>
				
				<!-- Table to show past incomes and expenses. Finds an ID and displays it. -->
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Amount</th>
							<th>Category</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${incomeAndExpenseList.empty}">
							<td colspan="2">N/A</td>
						</tr>
						<tr th:each="line : ${incomeAndExpenseList}">
							<td width="120"><span th:text="${line.date}"> Date </span></td>
							<td width="110"><span th:text="${#numbers.formatCurrency(line.amount)}">
								Amount </span>
							</td>
							<td width="130"><span th:text="${line.category}"> Category </span></td>
							<td>
								<a th:href="@{/edit/{id}(id=${line.id})}"><i class="fa fa-pencil fa-lg"></i></a>
								<a th:href="@{/delete/{id}(id=${line.id})}"><i class="fa fa-trash-o fa-lg"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Code for displaying and setting up the four graphs. -->
			<div class="columnright">
				<canvas id="expenseCategoryChart" style="width: 100%; max-width: 600px"></canvas>
				<canvas id="incomeCategoryChart" style="width: 100%; max-width: 600px"></canvas>
				<canvas id="lastSixMonthChart" style="width: 100%; max-width: 600px"></canvas>
				<canvas id="lastFourWeekChart" style="width: 100%; max-width: 600px"></canvas>
				
				<script th:inline="javascript">
					var xValues = ["Education", "Fees", "Food", "Groceries", "Travel", "Other"];
					var yValues = [[${expenseCategoryData}]];
					var barColors = ["red", "orange","yellow","green","blue", "purple"];
					
					new Chart("expenseCategoryChart", {
					  type: "bar",
					  data: {
					    labels: xValues,
					    datasets: [{
					      backgroundColor: barColors,
					      data: yValues
					    }]
					  },
					  options: {
						  scales: {
						        yAxes: [{
						            ticks: {
						                beginAtZero: true
						            }
						        }]
						    },
					    legend: {display: false},
					    title: {
					      display: true,
					      text: "Expenses by Category"
					    }
					  }
					});
					
					var xValues = ["Allowance", "Work", "Other"];
					var yValues = [[${incomeCategoryData}]];
					var barColors = ["red", "green","blue"];
					
					new Chart("incomeCategoryChart", {
					  type: "bar",
					  data: {
					    labels: xValues,
					    datasets: [{
					      backgroundColor: barColors,
					      data: yValues
					    }]
					  },
					  options: {
						  scales: {
						        yAxes: [{
						            ticks: {
						                beginAtZero: true
						            }
						        }]
						    },
					    legend: {display: false},
					    title: {
					      display: true,
					      text: "Incomes by Category"
					    }
					  }
					});
					
					var xValues = ["October", "November", "December", "Janurary", "Feburary", "March"];
					var yValues = [[${lastSixMonthData}]];
					var barColors = ["red", "orange","yellow", "green", "blue", "purple"];
					
					new Chart("lastSixMonthChart", {
					  type: "bar",
					  data: {
					    labels: xValues,
					    datasets: [{
					      backgroundColor: barColors,
					      data: yValues
					    }]
					  },
					  options: {
						  scales: {
						        yAxes: [{
						            ticks: {
						                beginAtZero: true
						            }
						        }]
						    },
					    legend: {display: false},
					    title: {
					      display: true,
					      text: "Incomes and Expenses of the last six months"
					    }
					  }
					});
					
					var xValues = ["Four Weeks Ago", "Three Weeks Ago", "Last Week", "This Week"];
					var yValues = [[${lastFourWeekData}]];
					var barColors = ["red","yellow", "green", "blue"];
					
					new Chart("lastFourWeekChart", {
					  type: "bar",
					  data: {
					    labels: xValues,
					    datasets: [{
					      backgroundColor: barColors,
					      data: yValues
					    }]
					  },
					  options: {
						  scales: {
						        yAxes: [{
						            ticks: {
						                beginAtZero: true
						            }
						        }]
						    },
					    legend: {display: false},
					    title: {
					      display: true,
					      text: "Incomes and Expenses of the last four weeks"
					    }
					  }
					});
				</script>
				
				<a th:href="@{/demo}">demo</a>
			</div>
		</div>
	</body>
</html>
